.list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 1670px;
}

.list-item {
    padding: .5em;
    width: 288px;
    max-height: 416px;
}

.list-item img{
    width: 100%;
}
