.button {
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.green {
    font-size: 30px;
    line-height: 30px;
    color: #1bc82f;
}

.black {
    font-size: 30px;
    line-height: 30px;
    padding: 0 0 0 5px
}
