.clock {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-bottom: 20px;
}

.clock__name {
    align-self: center;
}

.clock__face {
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}

.clock__hand {
    position: absolute;
    left: 50%;
    width: 50px;
    height: 50px;
    transform-origin: bottom left;
}

.hour {
    width: 35px;
    height: 35px;
    top: 15px;
    border-left:solid 2px #000;
}

.minute {
    border-left:solid 2px #000;
}

.second {
    border-left:solid 1px #525252;
}

.clock__delete {
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 5px;
    align-self: flex-end;
}

