.item-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-height: 2200px;
    background: #e9e9e9;
    padding: 20px 30px;
    width: 1537px;
    box-sizing: border-box;
    margin: 0 auto;
}
